@page "/"

<PageTitle>Index</PageTitle>

<h1>Test Programmer v1.2</h1>

<p>This test is done using the Blazor Server framework, with a MySQL database hosted on XAMPP as the data source. The data is retrieved and processed using the IDataAccess and IConfiguration interfaces, which are injected into the component. The resulting data is then displayed in a table using Bootstrap for styling.</p>
